html(lang="en")
    head
        style
            include style1.css
    body
        block content
            table
                h2.header You can add new tweet =D
                lu.containerTweet
                    li Name - #{name}
                    li Username - #{username}
                    li text - #{text}
